.bg-secondary {
    background-color: #ddd!important;
}
.alrtMsg{
    color:#ff0000;
}
.success{
    color:#008000}
    #status-text-active {
        padding: 2px;
        color: #008000;
        text-align: center;
        margin: 37px 4px 6px 39px;
        line-height: 42px;
        font-size: 20px;
        font-weight: 600
    }
    #status-text-inactive {
        padding: 2px;
        color: #ff0000;
        text-align: center;
        margin: 37px 4px 6px 39px;
        line-height: 42px;
        font-size: 20px;
        font-weight: 600
        
    }
a:not([href]):not([tabindex]) {
        color: #fff;
        text-decoration: none;
    }
.btn{
        cursor: pointer
}
